## Vendor files / folders
composer.phar
/vendor/

## Temp files / folders
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.daemon_lock
*.pid

*~
.vagrant

tmp
logs

## IDE files / folders
.DS_Store
.cache
.project
.settings
.tmproj
.idea
nbproject
Thumbs.db

