## Vendor files / folders
composer.phar
/vendor/

## Temp files / folders
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
tmp
.idea
*.daemon_lock
pid
logs
.vagrant

## IDE files / folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

